<igx-grid [data]="northwindCategories" primaryKey="categoryID" [autoGenerate]="false" displayDensity="cosy" height="400px" class="grid">
  <igx-column header="categoryID" field="categoryID" dataType="number" [sortable]="true" [filterable]="true" [searchable]="true" [selectable]="true" title="categoryID" [disablePinning]="false" [disableHiding]="false"></igx-column>
  <igx-column header="description" field="description" dataType="string" [sortable]="true" [filterable]="true" [searchable]="true" [selectable]="true" title="description" [disablePinning]="false" [disableHiding]="false"></igx-column>
  <igx-column header="name" field="name" dataType="string" [sortable]="true" [filterable]="true" [searchable]="true" [selectable]="true" title="name" [disablePinning]="false" [disableHiding]="false"></igx-column>
</igx-grid>
